<template>
  <div class="container">
    <h1>Administrar {{titulo}}</h1>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >{{mensaje.texto}}</b-alert>
    <!-- <b-button class="m-3" variant="outline-danger" @click="cargaPruebas">cargaPruebas</b-button> -->
    <div class="mt-5">
      <b-row v-if="!crearPrueba">
        <b-col cols="8">
          <b-form-input v-model="captartema" required placeholder="Tema"></b-form-input>
          <span style="color: red" v-show="verTemaRequirido">Tema requerido</span>
        </b-col>
        <b-col cols="4">
          <b-button class variant="outline-primary" @click="Crear">Crear Prueba</b-button>
        </b-col>
      </b-row>
      <div v-if="crearPrueba">
        <CrearPrueba />
      </div>
      <!-- ***** -->
      <div v-if="!crearPrueba" class="m-4">
        <h1>Pruebas</h1>
        <!-- ********** -->
        <div role="tablist">
          <b-card no-body class="mb-1 text-justify" v-for="(item, index) in pruebas" :key="index">
            <b-row>
              <b-col>
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-button
                    block
                    href="#"
                    v-b-toggle="`prueba-${item._id}`"
                    variant="info"
                  >{{item.tema}}</b-button>
                </b-card-header>
              </b-col>
            </b-row>
            <!-- *** -->
            <b-row>
              <b-col>
                <b-collapse
                  :id="`prueba-${item._id}`"
                  visible
                  accordion="my-accordion"
                  role="tabpanel"
                >
                  <b-card-body  v-for="(item2, index2) in item.preguntas" :key="index2">
                    <!-- *********** -->
                    <!-- *** -->
                    <b-row>
                      <b-col>
                        <b-card-text :id="`pregunta-${item2._id}`">
                          <strong>Pregunta:</strong>
                          {{item2.pregunta}}
                        </b-card-text>
                      </b-col>
                    </b-row>
                    <!-- *** -->
                    <b-card-text>
                      <b-form-group class="m-3" v-for="(item3, index3) in item2.respuestas" :key="index3">
                        <!-- **************** -->
                        <b-row>
                          <b-col>
                            <span
                              class="m-2"
                              :style=" [{'text-decoration' : 
                    verRespuestas && 
                    item3.condicion !== true  && 
                   resolverIdPrueba(item._id)? 'line-through red': ''}]"
                            ><strong>Respuesta:</strong>{{item3.respuesta}}</span>
                          </b-col>
                        </b-row>
                        <!-- **************** -->
                      </b-form-group>
                    </b-card-text>
                    <!-- *********** -->
                  </b-card-body>
                </b-collapse>
              </b-col>
            </b-row>
            <!-- *** -->
          </b-card>
        </div>
        <!-- ********** -->
      </div>
    </div>
  </div>
</template>

<script>
import CrearPrueba from "@/components/CrearPrueba.vue";
import Vuex from "vuex";
// import { mapState, mapGetters, mapMutations, mapActions } from "vuex";

export default {
  name: "Administrar",
  data() {
    return {
      captartema: "",
      verTemaRequirido: false,
      pruebas: ""
    };
  },
  props: ["titulo"],
  components: {
    CrearPrueba
  },
  mounted() {
    this.cargaPruebas();
  },
  updated() {
    this.cargaPruebas();
  },
  methods: {
    async cargaPruebas() {
      await this.axios
        .get("prueba")
        .then(response => {
          console.log(response.data);
          this.pruebas = response.data;
          // console.log(this.pruebas);
        })
        .catch(e => {
          //   console.log(e.response);
          console.log("error" + e.response);
        });
    },
    Crear() {
      this.$store.state.crearPrueba = this.captartema != "" ? true : false;
      this.$store.state.tema = this.captartema;
      this.captartema = "";
      this.verTemaRequirido = !this.$store.state.crearPrueba;
    },
    ...Vuex.mapMutations(["countDownChanged", "showAlert"])
  },
  computed: {
    ...Vuex.mapState([
      "tema",
      "crearPrueba",
      "mensaje",
      "dismissSecs",
      "dismissCountDown"
    ])
  }
};
</script>

<style>
</style>