<template>
  <div class="m-3">
    <h1>{{tema}}</h1>
    <!-- <b-button class="m-3" variant="outline-danger" @click="ok">ok</b-button> -->

    <form @submit.prevent="finalizarPrueba(prueba)">
      <div>
        <b-col cols="12">
          <b-form-input
            class="m-3"
            @change="verificarInputs"
            v-model="pregunta"
            placeholder="Pregunta"
          ></b-form-input>
          <span style="color: red" v-show="verPreguntaRequirido">Pregunta requerida</span>
          <b-row>
            <b-col cols="10">
              <b-form-input class="m-3" v-model="respuesta0" placeholder="Respuesta"></b-form-input>
            </b-col>
            <b-col cols="2">
              <b-form-radio
                :disabled="respuesta0 == ''? true : false"
                class="m-3"
                name="some-radios"
                value="R0"
                v-model="selected"
              >
                <span v-show="respuesta0 != ''">{{selected == "R0"? "Verdadera":"Falsa"}}</span>
                <span v-show="respuesta0 == ''">{{"Falsa"}}</span>
              </b-form-radio>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="10">
              <b-form-input class="m-3" v-model="respuesta1" placeholder="Respuesta"></b-form-input>
            </b-col>
            <b-col cols="2">
              <b-form-radio
                :disabled="respuesta1 == ''? true : false"
                class="m-3"
                name="some-radios"
                value="R1"
                v-model="selected"
              >
                <span v-show="respuesta1 != ''">{{selected == "R1"? "Verdadera":"Falsa"}}</span>
                <span v-show="respuesta1 == ''">{{"Falsa"}}</span>
              </b-form-radio>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="10">
              <b-form-input
                :disabled="respuesta0 == ''? true : false || respuesta1 == ''? true : false"
                class="m-3"
                v-model="respuesta2"
                placeholder="Respuesta"
              ></b-form-input>
            </b-col>
            <b-col cols="2">
              <b-form-radio
                :disabled="respuesta2 == ''? true : false"
                class="m-3"
                name="some-radios"
                value="R2"
                v-model="selected"
              >
                <span v-show="respuesta2 != ''">{{selected == "R2"? "Verdadera":"Falsa"}}</span>
                <span v-show="respuesta2 == ''">{{"Falsa"}}</span>
              </b-form-radio>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="10">
              <b-form-input
                :disabled="respuesta0 == ''? true : false || respuesta1 == ''? true : false || respuesta2 == ''? true : false"
                class="m-3"
                v-model="respuesta3"
                placeholder="Respuesta"
              ></b-form-input>
            </b-col>
            <b-col cols="2">
              <b-form-radio
                :disabled="respuesta3 == ''? true : false"
                class="m-3"
                name="some-radios"
                value="R3"
                v-model="selected"
              >
                <span v-show="respuesta3 != ''">{{selected == "R3"? "Verdadera":"Falsa"}}</span>
                <span v-show="respuesta3 == ''">{{"Falsa"}}</span>
              </b-form-radio>
            </b-col>
          </b-row>
          <div>
            <span
              style="color: red"
              v-show="verRespuestaRequirido"
            >Al menos dos respuestas son requeridas</span>
          </div>
          <span style="color: red" v-show="verVerdaderaRequirido">Se requiere respuesta verdadera</span>
          <div>
            <b-button
              class="m-3"
              variant="outline-primary"
              @click="guardarPregunta"
            >Guardar Pregunta</b-button>
            <b-button class="m-3" variant="outline-danger" type="submit">Finalizar Prueba</b-button>
          </div>
        </b-col>
      </div>
      <div class="m-3">
        <h2>Preguntas</h2>
        <b-list-group class="m-3" v-for="(pregunta, index1) in preguntas" :key="index1">
          <b-list-group-item>
            <div>
              <p>
                <strong>{{index1 + 1}}. Pregunta:</strong>
                <span>{{pregunta.pregunta}}</span>
              </p>
              <b-row>
                <b-col>
                  <div v-for="(respuesta, index2) in pregunta.respuestas" :key="index2">
                    <strong>{{index2 + 1}}. Respuesta {{respuesta.condicion == true? "Verdadera": "Falsa"}}:</strong>
                    <span
                      :style="{'color' : respuesta.condicion == true? 'green': 'red'}"
                    >{{respuesta.respuesta}}</span>
                  </div>
                </b-col>
              </b-row>
            </div>
          </b-list-group-item>
        </b-list-group>
      </div>
    </form>
  </div>
</template>

<script>
import Vuex from "vuex";

class CrearPrueba {
  constructor(tema, preguntas) {
    this.activo = true;
    this.usuarioId = "jorge";
    this.tema = tema;
    this.preguntas;
  }
}

export default {
  name: "CrearPrueba",
  data() {
    return {
      prueba: new CrearPrueba(),
      pregunta: "",
      respuestas: [],
      verPreguntaRequirido: false,
      verRespuestaRequirido: false,
      preguntas: [],
      selected: "",
      verVerdaderaRequirido: false,
      respuesta0: "",
      respuesta1: "",
      respuesta2: "",
      respuesta3: ""
    };
  },
  methods: {
    guardarPregunta() {
      if (this.pregunta == "") {
        this.verPreguntaRequirido = true;
      } else {
        this.verPreguntaRequirido = false;
      }
      if (this.respuesta0 == "" || this.respuesta1 == "") {
        this.verRespuestaRequirido = true;
      } else {
        this.verRespuestaRequirido = false;
      }
      if (this.selected == "") {
        this.verVerdaderaRequirido = true;
      } else {
        this.verVerdaderaRequirido = false;
      }

      if (
        !this.verPreguntaRequirido &&
        !this.verRespuestaRequirido &&
        !this.verVerdaderaRequirido
      ) {
        const respuestas = [
          {
            respuesta: this.respuesta0,
            condicion: this.selected == "R0" ? true : false
          },
          {
            respuesta: this.respuesta1,
            condicion: this.selected == "R1" ? true : false
          }
        ];
        if (this.respuesta2 != "") {
          respuestas.push({
            respuesta: this.respuesta2,
            condicion: this.selected == "R2" ? true : false
          });
        }
        if (this.respuesta3 != "") {
          respuestas.push({
            respuesta: this.respuesta3,
            condicion: this.selected == "R3" ? true : false
          });
        }

        this.preguntas.push({
          pregunta: this.pregunta,
          respuestas
        });
        this.respuesta0 = "";
        this.respuesta1 = "";
        this.respuesta2 = "";
        this.respuesta3 = "";
        this.pregunta = "";
      }
    },
    async guardarPrueba() {
      const prueba = await new CrearPrueba();
      prueba.tema = await this.$store.state.tema;
      prueba.preguntas = await this.preguntas;
      this.prueba = await prueba;
    },
    async finalizarPrueba() {
      try {
        if (this.preguntas != "") {
          await this.guardarPrueba();
          this.agregarPrueba(this.prueba);
        }
      } catch (e) {
        console.log(e);
      }
      this.$store.state.crearPrueba = false;
    },
    agregarPrueba(prueba) {
      this.axios
        .post("nueva-prueba", prueba)
        .then(res => {
          // Alerta de mensaje
          this.showAlert();
          this.mensaje.texto = "Prueba Agregada!";
          this.mensaje.color = "success";
        })
        .catch(e => {
          this.showAlert();
          this.mensaje.texto = "Upss! Algo salio mal!";
          this.mensaje.color = "success";
          console.log(this.prueba);
          console.log(e.message);
        });
      this.prueba = new CrearPrueba();
    },
    ok() {
      // this.listarPruebas();
    },

    ...Vuex.mapMutations(["countDownChanged", "showAlert"])
  },
  computed: {
    ...Vuex.mapState([
      "tema",
      "crearPrueba",
      "mensaje",
      "dismissSecs",
      "dismissCountDown"
    ]),
    verificarInputs() {
      this.selected = this.respuesta0 == "" ? "" : this.selected;
      this.respuesta2 = this.respuesta0 == "" ? "" : this.respuesta2;
      this.respuesta2 = this.respuesta1 == "" ? "" : this.respuesta2;
      this.respuesta3 = this.respuesta0 == "" ? "" : this.respuesta3;
      this.respuesta3 = this.respuesta1 == "" ? "" : this.respuesta3;
      this.respuesta3 = this.respuesta2 == "" ? "" : this.respuesta3;
    }
  }
};
</script> 

<style>
</style>