<template>
  <div>
    <h1>Practicar {{titulo}}</h1>
    <div role="tablist">
      <!-- ********************************** -->
      <b-card no-body class="mb-1 text-justify" v-for="(item, index) in pruebas" :key="index">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle="`prueba-${item._id}`" variant="info">
            <span class="p-5">{{item.tema}}</span>
            <!-- <span
              @change="calcularNota"
              v-if="verRespuestas && resolverIdPrueba(item._id)"
            >Nota: {{ obtenerNota(item._id)}}</span>-->
          </b-button>
        </b-card-header>
        <b-collapse :id="`prueba-${item._id}`" visible accordion="my-accordion" role="tabpanel">
          <b-card-body v-for="(item2, index2) in item.preguntas" :key="index2">
            <b-row>
              <b-col>
                <b-card-text :id="`pregunta-${item2._id}`">{{item2.pregunta}}</b-card-text>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-card-text>
                  <b-form-group v-for="(item3, index3) in item2.respuestas" :key="index3">
                    <!-- **************** -->
                    <b-form-radio
                      :id="`${item3._id}`"
                      :disabled="resolverIdPrueba(item._id)"
                      @change="guardarRespuestas"
                      :name="`pregunta-${item2._id}`"
                      :value="{
                      'id_prueba':`${item._id}`,
                      'id_pregunta':`${item2._id}`,
                      'id_respuesta':`${item3._id}`,
                      'condicion':`${item3.condicion}`,
                      }"
                    >
                      <span
                        class="m-2"
                        :style=" [{'text-decoration' : 
                    verRespuestas && 
                    item3.condicion !== true  && 
                   resolverIdPrueba(item._id)? 'line-through red': ''}]"
                      >{{item3.respuesta}}</span>

                      <b-icon
                        v-if="verRespuestas && item3.condicion && resolverIdPrueba(item._id)"
                        icon="check"
                        font-scale="2"
                        class="rounded-circle bg-success p-2"
                      ></b-icon>
                      <b-icon
                        v-if="verRespuestas && item3.condicion !== true && resolverIdPrueba(item._id)"
                        icon="x"
                        font-scale="2"
                        class="rounded-circle bg-danger p-2"
                      ></b-icon>
                    </b-form-radio>
                    <!-- **************** -->
                  </b-form-group>
                  <div class="mt-3">
                    <!-- Selected: -->
                    <!-- <strong>{{ selectedAnswer }}</strong> -->
                  </div>
                </b-card-text>
              </b-col>
            </b-row>
          </b-card-body>
          <b-button class="mb-5 mt-3" variant="outline-success" @click="resolver(item._id)">Resolver</b-button>
        </b-collapse>
      </b-card>
      <!-- ********************************** -->
    </div>
  </div>
</template>

<script>
export default {
  name: "Practicar",
  data() {
    return {
      nota: [],
      notaFinal: [],
      n1: 0,
      verNota: false,
      resolverPruebas: [],
      verRespuestas: false,
      selectedAnswer: [],
      pruebas: ""
    };
  },
  computed: {
    calcularNota() {
      this.selectedAnswer.forEach(element => {
        /////
        let prueba = this.resolverPruebas.find(
          element2 => element2.id_prueba == element.id_prueba
        ); //
        //

        if (element.id_prueba == prueba.id_prueba) {
          //
          if (this.nota.length === 0) {
            if (element.condicion == "true") {
              this.nota.push({
                id_prueba: element.id_prueba,
                respuestasBuenas: 1,
                id_respuesta: element.id_respuesta,
                preguntas: this.contarTotalPreguntas(element.id_prueba)
              });
            }
          } else {
            //cuando array no esta vacio
            let i = this.nota
              .map(e => {
                return e.id_prueba;
              })
              .indexOf(element.id_prueba);

            if (i === -1) {
              if (element.condicion == "true") {
                this.nota.push({
                  id_prueba: element.id_prueba,
                  respuestasBuenas: 1,
                  id_respuesta: element.id_respuesta,
                  preguntas: this.contarTotalPreguntas(element.id_prueba)
                });
              }
            }
            //

            if (i !== -1) {
              let nota = this.nota[i];
              if (element.condicion == "true") {
                let x = this.nota
                  .map(e => {
                    return e.id_respuesta;
                  })
                  .indexOf(element.id_respuesta);
                if (x === -1 && this.resolverIdPrueba(element.id_prueba)) {
                  nota.respuestasBuenas += nota.respuestasBuenas;
                }
              }
            }
          }
        }

        /////
      }); ///

      return true;
    }
  },
  mounted() {
    this.cargaPruebas();
  },
  updated() {
    this.cargaPruebas();
  },
  methods: {
    async cargaPruebas() {
      await this.axios
        .get("prueba")
        .then(response => {
          console.log(response.data);
          this.pruebas = response.data;
          // console.log(this.pruebas);
        })
        .catch(e => {
          //   console.log(e.response);
          console.log("error" + e.response);
        });
    },
    resolverIdPrueba(id_prueba) {
      let i = this.resolverPruebas
        .map(e => {
          return e.id_prueba;
        })
        .indexOf(id_prueba);
      if (i !== -1) {
        let prueba = this.resolverPruebas[i];
        return prueba.resolver;
      }
      return false;
    },
    obtenerNota(id_prueba) {
      if (!this.resolver(id_prueba)) {
        console.log("1");
      } else {
        console.log("2");
      }
      let nota = this.nota.find(element => element.id_prueba == id_prueba);
      if (nota) {
        if (nota.id_prueba == id_prueba) {
          let nf = this.notaFinal.find(
            element => element.id_prueba == id_prueba
          );
          if (!nf) {
            this.notaFinal.push({ id_prueba: nota.id_prueba });
          }
          let resultado = (100 / nota.preguntas) * nota.respuestasBuenas;
          return resultado >= 100 ? 100 : resultado;
        }
      }

      return 0;
    },
    contarTotalPreguntas(_id) {
      let laPrueba = this.pruebas.find(element => element._id == _id); //
      return laPrueba.preguntas.length;
    },

    guardarRespuestas(arg) {
      const id_prueba = arg.id_prueba;
      const id_pregunta = arg.id_pregunta;
      const id_respuesta = arg.id_respuesta;
      const condicion = arg.condicion;
      let conta = 0;
      this.selectedAnswer.forEach(element => {
        if (element.id_pregunta == id_pregunta) {
          let i = this.selectedAnswer
            .map(e => {
              return e.id_pregunta;
            })
            .indexOf(id_pregunta);
          if (i !== -1) {
            this.selectedAnswer.splice(i, 1);
            this.selectedAnswer.push({
              id_prueba,
              id_pregunta,
              id_respuesta,
              condicion
            });
          }
          conta++;
        }
      });
      if (conta == 0) {
        const prueba = this.resolverPruebas.find(
          element => element.id_prueba == id_prueba
        );
        if (!prueba) {
          this.resolverPruebas.push({ id_prueba, resolver: false });
        }
        this.selectedAnswer.push({
          id_prueba,
          id_pregunta,
          id_respuesta,
          condicion
        });
      }
    },
    resolver(id_prueba) {
      let i = this.resolverPruebas
        .map(e => {
          return e.id_prueba;
        })
        .indexOf(id_prueba);
      if (i !== -1) {
        this.resolverPruebas[i].resolver = true;
        this.verRespuestas = true;
      }
    }
  },
  props: ["titulo"]
};
</script>
<style>
</style>