<template>
  <div>
    <Administrar :titulo="titulo" />
  </div>
</template>

<script>
import Administrar from "@/components/Administrar.vue";

export default {
  name: "Administra",
  data() {
    return {
      titulo: "Exámenes"
    };
  },
  methods: {},
  components: {
    Administrar
  }
};
</script>

<style>
</style>