<template>
  <div class="container">
    <div>
      <b-row>
        <b-col>
          <h1>Curso Manipulación de Alimentos</h1>
        </b-col>
      </b-row>
    </div>
    <div class="m-5 text-left">
      <b-row>
        <b-col>
          <h2>A quién está dirigido:</h2>
        </b-col>
      </b-row>
    </div>
    <div>
      <b-row>
        <b-col>
          <p class="text-justify">
            Este curso está dirigido a todas las personas que laboran en actividades productivas directamente relacionadas con la Industria Alimentaria o Servicios de Alimentación al Público, tales como: sodas, restaurantes, hoteles, panificadoras, hospitales, comedores escolares, institucionales y centros de reclusión, de atención a personas menores y adultos mayores, así como en unidades productivas que se dedican al procesamiento de productos lácteos, frutas y hortalizas, carnes, agroindustria, incluyendo quienes desarrollan su actividad económica en las ferias del agricultor, entre otros.
            Este curso pueden llevarlo quienes necesitan obtener su “carné de manipulación de alimentos”, o bien, cuando se solicita como requisito para ocupar un puesto de trabajo.
          </p>
        </b-col>
      </b-row>
    </div>
    <div class="m-5 text-left">
      <b-row>
        <b-col>
          <h2>La finalidad:</h2>
        </b-col>
      </b-row>
    </div>
    <div>
      <b-row>
        <b-col>
          <p
            class="text-justify"
          >La finalidad de este curso es aportar a la población interesada los conocimientos, habilidades y las competencias técnicas para realizar las actividades requeridas en el proceso de manipulación de alimentos, lo cual redunda en una mejor calidad e inocuidad de los productos que se obtengan, contribuyendo a un régimen de salud preventiva, con lo cual se evitan enfermedades transmitidas por los alimentos (conocidas como ETA).</p>
        </b-col>
      </b-row>
    </div>
    <div class="m-5 text-left">
      <b-row>
        <b-col>
          <h2>
            <a
              href="https://www.ina.ac.cr/alimentos/Documentos%20compartidos/Material2.pdf"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="m-3" @click="descargar">Material del curso</span>
              <b-icon @click="descargar" icon="cloud-download" font-scale="1"></b-icon>
            </a>
          </h2>
        </b-col>
      </b-row>
      <div class="mt-5">
        <b-row>
          <b-col>
            <h1>Video</h1>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <!-- ********* -->
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/GsJll6J44NQ"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <!-- ********* -->
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Curso",
  data() {
    return {};
  },
  methods: {},
  components: {}
};
</script>

<style>
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>