<template>
  <div>
    <Practicar :titulo="titulo" />
  </div>
</template>

<script>
import Practicar from "@/components/Practicar.vue";

export default {
  name: "Practica",
  data() {
    return {
      titulo: "Exámenes"
    };
  },
  methods: {},
  components: {
    Practicar
  }
};
</script>

<style>
</style>